<a href="https://colab.research.google.com/github/neshvig10/AI_Project/blob/main/AI_project_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
mydata=pd.read_csv('/content/Dataset_Electric_Motor.csv')

<ipython-input-2-9837d487fd79>:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  mydata=pd.read_csv('/content/Dataset_Electric_Motor.csv')

In [3]:
mydata=mydata[:100000:]
mydata.dropna()
mydata.dropna(inplace=True)
mydata

           id_k       iq_k  epsilon_k  n_k  n_1k      id_k1      iq_k1
0     -81.45802  229.52930   2.240254  5.0   6.0 -105.73820  167.36170
1     -140.6821  112.42340  -1.610116  7.0   2.0 -174.89710  128.22370
2     -127.0724  171.74380  -1.971891  4.0   7.0  -92.96102  126.60810
3      -42.2788  120.14950   1.300341  2.0   7.0  -82.23310  124.33790
4     -48.02003   10.97132  -1.778834  1.0   4.0  -45.73148   11.60761
...         ...        ...        ...  ...   ...        ...        ...
99995 -107.4748  150.35050   2.111234  2.0   2.0 -116.00690  193.57910
99996 -38.63023   63.84120   0.818639  3.0   6.0  -17.71651   82.51431
99997 -65.93674   79.91692   1.816296  2.0   4.0  -89.80704   92.18458
99998 -34.17585  201.69690   1.919415  6.0   1.0  -76.34132  174.44300
99999 -179.0785   43.52158  -2.216697  5.0   5.0 -201.02030   51.59556

[100000 rows x 7 columns]

In [4]:
mydata.corr()

<ipython-input-4-2ef0f2f25928>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  mydata.corr()

               iq_k  epsilon_k       n_k      n_1k     id_k1     iq_k1
iq_k       1.000000  -0.002804 -0.010897 -0.003067  0.251238  0.946245
epsilon_k -0.002804   1.000000 -0.068947 -0.060741  0.003678 -0.002820
n_k       -0.010897  -0.068947  1.000000 -0.019366  0.018798  0.005573
n_1k      -0.003067  -0.060741 -0.019366  1.000000  0.034769 -0.003015
id_k1      0.251238   0.003678  0.018798  0.034769  1.000000  0.261742
iq_k1      0.946245  -0.002820  0.005573 -0.003015  0.261742  1.000000

In [5]:
# input data
X = mydata
X

           id_k       iq_k  epsilon_k  n_k  n_1k      id_k1      iq_k1
0     -81.45802  229.52930   2.240254  5.0   6.0 -105.73820  167.36170
1     -140.6821  112.42340  -1.610116  7.0   2.0 -174.89710  128.22370
2     -127.0724  171.74380  -1.971891  4.0   7.0  -92.96102  126.60810
3      -42.2788  120.14950   1.300341  2.0   7.0  -82.23310  124.33790
4     -48.02003   10.97132  -1.778834  1.0   4.0  -45.73148   11.60761
...         ...        ...        ...  ...   ...        ...        ...
99995 -107.4748  150.35050   2.111234  2.0   2.0 -116.00690  193.57910
99996 -38.63023   63.84120   0.818639  3.0   6.0  -17.71651   82.51431
99997 -65.93674   79.91692   1.816296  2.0   4.0  -89.80704   92.18458
99998 -34.17585  201.69690   1.919415  6.0   1.0  -76.34132  174.44300
99999 -179.0785   43.52158  -2.216697  5.0   5.0 -201.02030   51.59556

[100000 rows x 7 columns]

In [6]:
y=mydata['id_k1']
y

0       -105.73820
1       -174.89710
2        -92.96102
3        -82.23310
4        -45.73148
           ...
99995   -116.00690
99996    -17.71651
99997    -89.80704
99998    -76.34132
99999   -201.02030
Name: id_k1, Length: 100000, dtype: float64

In [7]:
z = mydata['iq_k1']
z

0        167.36170
1        128.22370
2        126.60810
3        124.33790
4         11.60761
           ...
99995    193.57910
99996     82.51431
99997     92.18458
99998    174.44300
99999     51.59556
Name: iq_k1, Length: 100000, dtype: float64

In [8]:
# splitting dataset into training and testing
# importing train_test-split function
from sklearn.model_selection import train_test_split
# splitting the dataset

In [9]:
X_train,X_test,y_train,y_test,z_train,z_test = train_test_split(X,y,z,test_size=0.20,random_state=30)

In [10]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape,z_train.shape,z_test.shape)

(80000, 7) (20000, 7) (80000,) (20000,) (80000,) (20000,)

In [11]:
# preprocessing

from sklearn.preprocessing import StandardScaler

# create a StandardScaler object
scaler = StandardScaler()

# fit the scaler on the training data
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# mean is zero and standard deviation is one

In [12]:
# Support vector Regression
from sklearn.svm import SVR

In [13]:
# from sklearn.model_selection import KFold

# # set the number of folds
# k = 5

# # create a KFold object
# kf = KFold(n_splits=k, shuffle=True, random_state=42)

LL_svr1 = SVR().fit(X_train,y_train)
LL_svr2 = SVR().fit(X_train,z_train)

In [14]:
print('The r_sq value is : %.2f'% LL_svr1.score(X_train,y_train))

The r_sq value is : 1.00

In [15]:
print('The r_sq value is : %.2f'% LL_svr2.score(X_train,z_train))

The r_sq value is : 1.00

In [16]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score,explained_variance_score

In [17]:
# predicting the training data
ytrain_pred = LL_svr1.predict(X_train)
ztrain_pred = LL_svr2.predict(X_train)

In [18]:
print('The r_2 score is : %.2f'% r2_score(y_train,ytrain_pred))

The r_2 score is : 1.00

In [19]:
# Mean Absolute error
print('The Mean Absolute Error is : %.2f'% mean_absolute_error(y_train,ytrain_pred))

The Mean Absolute Error is : 0.66

In [20]:
# The mean squared error is :
print('The Mean Squared Error is : %.2f'% mean_squared_error(y_train,ytrain_pred))

The Mean Squared Error is : 2.88

In [21]:
# The root mean squared error is :
import numpy as np
print('The Root Mean Squared Error is : %.2f'% np.sqrt(mean_squared_error(y_train,ytrain_pred)))

The Root Mean Squared Error is : 1.70

In [22]:
# the explained variance score EVS
print('The EVS is : %.2f'% explained_variance_score(y_train,ytrain_pred))

The EVS is : 1.00

In [23]:
ytest_pred = LL_svr1.predict(X_test)

In [24]:
# the coeffecient of determination
print('The r_2 score is : %0.2f'% r2_score(y_test,ytest_pred))

The r_2 score is : 1.00

In [25]:
# print('The r_sq is : %.2f'% LL_svr1.score(X_test,y_test))

In [26]:
print('The r_2 score is : %.2f'% r2_score(z_train,ztrain_pred))

The r_2 score is : 1.00

In [27]:
# Mean Absolute error
print('The Mean Absolute Error is : %.2f'% mean_absolute_error(z_train,ztrain_pred))

The Mean Absolute Error is : 0.63

In [28]:
# The mean squared error is :
print('The Mean Squared Error is : %.2f'% mean_squared_error(z_train,ztrain_pred))

The Mean Squared Error is : 4.48

In [29]:
# The root mean squared error is :
import numpy as np
print('The Root Mean Squared Error is : %.2f'% np.sqrt(mean_squared_error(z_train,ztrain_pred)))

The Root Mean Squared Error is : 2.12

In [30]:
# the explained variance score EVS
print('The EVS is : %.2f'% explained_variance_score(z_train,ztrain_pred))

The EVS is : 1.00

In [31]:
ztest_pred = LL_svr2.predict(X_test)

In [32]:
# the coeffecient of determination
print('The r2_score is : %0.2f'% r2_score(z_test,ztest_pred))

The r2_score is : 1.00

In [33]:
# print('The r_sq is : %.2f'% LL_svr2.score(X_test,z_test))

In [34]:
# Mean Absolute Error is
print('The MAE is : %.2f'% mean_absolute_error(y_test,ytest_pred))

The MAE is : 0.68

In [35]:
# Mean Square Error is
print('The MSE is : %.2f'% mean_squared_error(y_test,ytest_pred))

The MSE is : 3.22

In [36]:
# Root Mean Square Error is
print('The RMAE is : %.2f'% np.sqrt(mean_absolute_error(y_test,ytest_pred)))

The RMAE is : 0.82

In [37]:
# Root Mean Square Error is
print('The RMSE is : %.2f'% np.sqrt(mean_squared_error(y_test,ytest_pred)))

The RMSE is : 1.79

In [38]:
# Mean Square Error is
print('The MSE is : %.2f'% mean_squared_error(z_test,ztest_pred))

The MSE is : 4.93

In [39]:
# Mean Absolute Error is
print('The MAE is : %.2f'% mean_absolute_error(z_test,ztest_pred))

The MAE is : 0.66

In [40]:
# Root Mean Square Error is
print('The RMSE is : %.2f'% np.sqrt(mean_squared_error(z_test,ztest_pred)))

The RMSE is : 2.22

In [41]:
# Root Mean Square Error is
print('The RMAE is : %.2f'% np.sqrt(mean_absolute_error(z_test,ztest_pred)))

The RMAE is : 0.81

In [42]:
# -done-

In [43]:
# Plotting the predicted data
import matplotlib.pyplot as plt
# set the boundaries and other characteristics
plt.rcParams['figure.figsize'] = (600,110)
x_ax = range(len(X_test))
plt.plot(x_ax, y_test,label = 'Observed',color='red',linestyle = '-')
plt.plot(x_ax, ytest_pred,label = 'Predicted' ,color = 'green',linestyle = '-')
plt.ylabel('id_k1')
plt.xlabel('Sample No.')

Text(0.5, 0, 'Sample No.')

In [ ]:
# Plotting the predicted data
import matplotlib.pyplot as plt
# set the boundaries and other characteristics
plt.rcParams['figure.figsize'] = (600,120)
x_ax = range(len(X_test))
plt.plot(x_ax, z_test,label = 'Observed',color='red',linestyle = '-')
plt.plot(x_ax, ztest_pred,label = 'Predicted' ,color = 'green',linestyle = '-')
plt.ylabel('id_q1')
plt.xlabel('Sample No.')

In [ ]:
#  we are also plotting the prediction error
from yellowbrick.regressor import PredictionError
visualizer = PredictionError(LL_svr2)
visualizer.fit(X_train,z_train)
visualizer.score(X_test,z_test)
visualizer.poof()

In [ ]:
#  we are also plotting the prediction error
from yellowbrick.regressor import PredictionError
visualizer = PredictionError(LL_svr1)
visualizer.fit(X_train,y_train)
visualizer.score(X_test,y_test)
visualizer.poof()

In [ ]:
# residual plot
from yellowbrick.regressor import ResidualsPlot
visualizer = ResidualsPlot(LL_svr1)
visualizer.fit(X_train,y_train)
visualizer.score(X_test,y_test)
visualizer.poof()

In [ ]:
visualizer = ResidualsPlot(LL_svr2)
visualizer.fit(X_train,z_train)
visualizer.score(X_test,z_test)
visualizer.poof()