<a href="https://colab.research.google.com/github/vignesh1073/AI_Project/blob/main/AI_project_SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
mydata=pd.read_csv('/content/Dataset_Electric_Motor.csv')

In [ ]:
mydata=mydata[::]
mydata.dropna()
mydata.dropna(inplace=True)
mydata

             id_k       iq_k  epsilon_k  n_k  n_1k       id_k1      iq_k1
0       -81.45802  229.52930   2.240254    5     6 -105.738200  167.36170
1      -140.68210  112.42340  -1.610116    7     2 -174.897100  128.22370
2      -127.07240  171.74380  -1.971891    4     7  -92.961020  126.60810
3       -42.27880  120.14950   1.300341    2     7  -82.233100  124.33790
4       -48.02003   10.97132  -1.778834    1     4  -45.731480   11.60761
...           ...        ...        ...  ...   ...         ...        ...
421177 -136.62840   23.62280   2.741618    3     6  -94.946120   17.57779
421178 -137.57150   80.39489   0.471213    4     5 -174.135300   92.30064
421179  -99.96099  193.93860  -1.574865    7     7 -128.131300  219.44260
421180  -30.02157  219.90050  -1.968713    1     6  -18.918700  215.00280
421181  -47.37975  210.74190   2.707685    3     6   -2.416948  173.73700

[421182 rows x 7 columns]

In [ ]:
mydata.corr()

,id_k,iq_k,epsilon_k,n_k,n_1k,id_k1,iq_k1
id_k,1.000000,0.254543,0.000976,0.062631,0.041416,0.901551,0.252206
iq_k,0.254543,1.000000,-0.001668,-0.011237,-0.007879,0.250743,0.946279
epsilon_k,0.000976,-0.001668,1.000000,-0.068949,-0.065288,0.001528,-0.001222
n_k,0.062631,-0.011237,-0.068949,1.000000,-0.017992,0.018086,0.006948
n_1k,0.041416,-0.007879,-0.065288,-0.017992,1.000000,0.031547,-0.007159
id_k1,0.901551,0.250743,0.001528,0.018086,0.031547,1.000000,0.262115
iq_k1,0.252206,0.946279,-0.001222,0.006948,-0.007159,0.262115,1.000000

In [ ]:
# input data
X = mydata
X

             id_k       iq_k  epsilon_k  n_k  n_1k       id_k1      iq_k1
0       -81.45802  229.52930   2.240254    5     6 -105.738200  167.36170
1      -140.68210  112.42340  -1.610116    7     2 -174.897100  128.22370
2      -127.07240  171.74380  -1.971891    4     7  -92.961020  126.60810
3       -42.27880  120.14950   1.300341    2     7  -82.233100  124.33790
4       -48.02003   10.97132  -1.778834    1     4  -45.731480   11.60761
...           ...        ...        ...  ...   ...         ...        ...
421177 -136.62840   23.62280   2.741618    3     6  -94.946120   17.57779
421178 -137.57150   80.39489   0.471213    4     5 -174.135300   92.30064
421179  -99.96099  193.93860  -1.574865    7     7 -128.131300  219.44260
421180  -30.02157  219.90050  -1.968713    1     6  -18.918700  215.00280
421181  -47.37975  210.74190   2.707685    3     6   -2.416948  173.73700

[421182 rows x 7 columns]

In [ ]:
y=mydata['id_k1']
y

0        -105.738200
1        -174.897100
2         -92.961020
3         -82.233100
4         -45.731480
             ...
421177    -94.946120
421178   -174.135300
421179   -128.131300
421180    -18.918700
421181     -2.416948
Name: id_k1, Length: 421182, dtype: float64

In [ ]:
z = mydata['iq_k1']
z

0         167.36170
1         128.22370
2         126.60810
3         124.33790
4          11.60761
            ...
421177     17.57779
421178     92.30064
421179    219.44260
421180    215.00280
421181    173.73700
Name: iq_k1, Length: 421182, dtype: float64

In [ ]:
# splitting dataset into training and testing 
# importing train_test-split function
from sklearn.model_selection import train_test_split
# splitting the dataset

In [ ]:
X_train,X_test,y_train,y_test,z_train,z_test = train_test_split(X,y,z,test_size=0.20,random_state=30)

In [ ]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape,z_train.shape,z_test.shape)

(336945, 7) (84237, 7) (336945,) (84237,) (336945,) (84237,)

In [ ]:
# preprocessing

from sklearn.preprocessing import StandardScaler

# create a StandardScaler object
scaler = StandardScaler()

# fit the scaler on the training data
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# mean is zero and standard deviation is one

In [ ]:
# Support vector Regression
from sklearn.svm import SVR

In [ ]:
# from sklearn.model_selection import KFold

# # set the number of folds
# k = 5

# # create a KFold object
# kf = KFold(n_splits=k, shuffle=True, random_state=42)

LL_svr1 = SVR().fit(X_train,y_train)
LL_svr2 = SVR().fit(X_train,z_train)

In [ ]:
print('The r_sq value is : %.2f'% LL_svr1.score(X_train,y_train))

In [ ]:
print('The r_sq value is : %.2f'% LL_svr2.score(X_train,z_train))

In [ ]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score,explained_variance_score

In [ ]:
# predicting the training data
ytrain_pred = LL_svr1.predict(X_train)
ztrain_pred = LL_svr2.predict(X_train)

In [ ]:
print('The r_2 score is : %.2f'% r2_score(y_train,ytrain_pred))

In [ ]:
# Mean Absolute error
print('The Mean Absolute Error is : %.2f'% mean_absolute_error(y_train,ytrain_pred))

In [ ]:
# The mean squared error is : 
print('The Mean Squared Error is : %.2f'% mean_squared_error(y_train,ytrain_pred))

In [ ]:
# The root mean squared error is : 
import numpy as np
print('The Root Mean Squared Error is : %.2f'% np.sqrt(mean_squared_error(y_train,ytrain_pred)))

In [ ]:
# the explained variance score EVS 
print('The EVS is : %.2f'% explained_variance_score(y_train,ytrain_pred))

In [ ]:
ytest_pred = LL_svr1.predict(X_test)

In [ ]:
# the coeffecient of determination
print('The r_2 score is : %0.2f'% r2_score(y_test,ytest_pred))

In [ ]:
# print('The r_sq is : %.2f'% LL_svr1.score(X_test,y_test))

In [ ]:
print('The r_2 score is : %.2f'% r2_score(z_train,ztrain_pred))

In [ ]:
# Mean Absolute error
print('The Mean Absolute Error is : %.2f'% mean_absolute_error(z_train,ztrain_pred))

In [ ]:
# The mean squared error is : 
print('The Mean Squared Error is : %.2f'% mean_squared_error(z_train,ztrain_pred))

In [ ]:
# The root mean squared error is : 
import numpy as np
print('The Root Mean Squared Error is : %.2f'% np.sqrt(mean_squared_error(z_train,ztrain_pred)))

In [ ]:
# the explained variance score EVS 
print('The EVS is : %.2f'% explained_variance_score(z_train,ztrain_pred))

In [ ]:
ztest_pred = LL_svr2.predict(X_test)

In [ ]:
# the coeffecient of determination
print('The r2_score is : %0.2f'% r2_score(z_test,ztest_pred))

In [ ]:
# print('The r_sq is : %.2f'% LL_svr2.score(X_test,z_test))

In [ ]:
# Mean Absolute Error is 
print('The MAE is : %.2f'% mean_absolute_error(y_test,ytest_pred))

In [ ]:
# Mean Square Error is 
print('The MSE is : %.2f'% mean_squared_error(y_test,ytest_pred))

In [ ]:
# Root Mean Square Error is 
print('The RMAE is : %.2f'% np.sqrt(mean_absolute_error(y_test,ytest_pred)))

In [ ]:
# Root Mean Square Error is 
print('The RMSE is : %.2f'% np.sqrt(mean_squared_error(y_test,ytest_pred)))

In [ ]:
# Mean Square Error is 
print('The MSE is : %.2f'% mean_squared_error(z_test,ztest_pred))

In [ ]:
# Mean Absolute Error is 
print('The MAE is : %.2f'% mean_absolute_error(z_test,ztest_pred))

In [ ]:
# Root Mean Square Error is 
print('The RMSE is : %.2f'% np.sqrt(mean_squared_error(z_test,ztest_pred)))

In [ ]:
# Root Mean Square Error is 
print('The RMAE is : %.2f'% np.sqrt(mean_absolute_error(z_test,ztest_pred)))

In [ ]:
# -done-

In [ ]:
# Plotting the predicted data
import matplotlib.pyplot as plt
# set the boundaries and other characteristics
plt.rcParams['figure.figsize'] = (600,110)
x_ax = range(len(X_test))
plt.plot(x_ax, y_test,label = 'Observed',color='red',linestyle = '-')
plt.plot(x_ax, ytest_pred,label = 'Predicted' ,color = 'green',linestyle = '-')
plt.ylabel('id_k1')
plt.xlabel('Sample No.')

In [ ]:
# Plotting the predicted data
import matplotlib.pyplot as plt
# set the boundaries and other characteristics
plt.rcParams['figure.figsize'] = (600,120)
x_ax = range(len(X_test))
plt.plot(x_ax, z_test,label = 'Observed',color='red',linestyle = '-')
plt.plot(x_ax, ztest_pred,label = 'Predicted' ,color = 'green',linestyle = '-')
plt.ylabel('id_q1')
plt.xlabel('Sample No.')

In [ ]:
#  we are also plotting the prediction error
from yellowbrick.regressor import PredictionError
visualizer = PredictionError(LL_svr2)
visualizer.fit(X_train,z_train)
visualizer.score(X_test,z_test)
visualizer.poof()

In [ ]:
#  we are also plotting the prediction error
from yellowbrick.regressor import PredictionError
visualizer = PredictionError(LL_svr1)
visualizer.fit(X_train,y_train)
visualizer.score(X_test,y_test)
visualizer.poof()

In [ ]:
# residual plot
from yellowbrick.regressor import ResidualsPlot 
visualizer = ResidualsPlot(LL_svr1)
visualizer.fit(X_train,y_train)
visualizer.score(X_test,y_test)
visualizer.poof()

In [ ]:
visualizer = ResidualsPlot(LL_svr2)
visualizer.fit(X_train,z_train)
visualizer.score(X_test,z_test)
visualizer.poof()